---
export interface Props {
  title?: string;
}

const { title } = Astro.props;

import HTML from "~/components/layouts/HTML.astro";

import ThemeTogglerButton from "~/components/core/ThemeTogglerButton";
import PhotoModal from "~/components/core/PhotoModal";
---

<HTML title={title}>
  <header class="w-full max-w-screen-xl mx-auto z-0">
    <div class="flex items-center gap-2 md:gap-3 xl:gap-4 p-2 md:p-3 xl:p-4">
      <ThemeTogglerButton client:load />

      <h1 class="text-xl md:text-2xl lg:text-3xl font-bold leading-none text-neutral-700 dark:text-neutral-200">faisalamrd</h1>
    </div>
  </header>

  <main class="w-full max-w-screen-xl mx-auto z-10">
    <slot />
  </main>

  <PhotoModal client:load />
</HTML>
